/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
    
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;  /*bo dau cham o dau li*/
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase; /*viet chu in hoa*/
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover  {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    top: 100%;
    left: 0px;
}

#nav .subnav li {
    width: 100%;
    
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-btn {
    float: right;
    padding: 0 24px;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /*do anh co ti le 2:1 nen su dung padding-top: 50% co nghia 50% chieu ngang chinh no*/
    background: url(/assets/img/slider/chicago.jpg) top center / cover no-repeat; /*background css*/
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    width: 100%;
    text-align: center;
    color: #fff;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;

}

#slider .text-description {
    padding-top: 25px;
    font-size: 15px;
}


#content {

}

#footer {

}
